<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('commonLinks')%>
        <meta charset="UTF-8">
        <title>Employer Registration</title>
</head>

<body>
    <%-include('jobPortalNavbar');%>
        <div class="page-header">
            <h1>Employer Registration</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Sign Up</div>
                        <div class="panel-body">
                            <form action="/jobportal/employerRegistration" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Company Name</label>
                                    <div class="col-md-6">
                                        <input id="Company" type="text" name="Company" placeholder="Company Name" required="" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Password</label>
                                    <div class="col-md-6">
                                        <input id="password" name="password" placeholder="********" required="" type="password" class="form-control" />
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <input id="submit" value="Sign Up" name="submit" type="submit" class="buttom btn btn-primary" />

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
